body {
    background-color: #fff8ef;
}

.textCss {
    font-size: 1.1rem;
    margin-left: 50px;
}

.titleText {
    width: 80%;
    margin: auto;
    background-color: #fffeae;
    text-align: center;
    background: #f4d07e;
    /*背景色*/
    padding: 0.5em;
    /*文字周りの余白*/
    color: white;
    /*文字を白に*/
    border-radius: 0.5em;
    /*角の丸み*/
    text-indent: 1rem;
}

.page-css {
    width: 80%;
    margin: auto;
}

.timeSchedule {
    width: 70%;
    height: 200px;
    margin: 100px auto;
}

.timeScheduleText {
    color: #7a7a7a;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1.25rem;
    margin-top: 1%;
}

.timeScheduleColor {
    background-color: #ffe8c988;
}

.icon-clock,
.icon-map-marker {
    margin-right: 20px;
}

h3 {
    padding: 0.5em;
    color: #494949;
    border-left: solid 5px #f98866;
    text-align: center;
}

.border {
    padding: 0.2rem;
    margin: 100px 0px;
    background: linear-gradient(transparent 60%, #f9886699 60%);
    font-size: 1.8rem;
    font-weight: bold;
}

.infoBorder {
    padding: 0.2rem;
    margin: 60px 0px;
    background: linear-gradient(transparent 60%, #f9886699 60%);
    font-size: 1.8rem;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    margin: 30px 0px;
    padding: 15px 0px;
    height: 500px;
}

.map {
    flex: 1;
    height: 100%;
    width: 40%;
    margin-right: 30px;
}

table {
    flex: 1;
    height: 60%;
    width: 40%;
    padding-left: 50px;
    border-collapse: separate;
    /* セル間にスペースを作る */
    border-spacing: 10px;
    /* セル間のスペースを設定 */
}

table th,
table td {
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
    padding: 15px 10px;
    /* 上下と左右のパディングを調整 */
}

table th {
    background-color: #f98866;
    color: white;
}

table td {
    background-color: #fff8ee;
    border: solid 1px #f98866;
}

.band {
    background-color: #f98866;
    border-radius: 10px;
    height: 70px;
    display: flex;
    align-items: center;
    /* 縦方向の中央揃え */
    justify-content: space-between;
    /* 両端揃え */
    padding: 0 3%;
    width: 80%;
    margin: 50px auto;
}

.logo-container {
    display: flex;
    align-items: center;
    /* 縦方向の中央揃え */
}

.band h1 {
    margin: 0;
    padding: 15px;
}

.band h1 a {
    color: rgb(3, 20, 25);
    text-decoration: none;
}

.band h1 a:hover {
    background-color: #adcd2cd5;
    border-radius: 50%;
    padding: 12px;
}

.band h2 {
    margin: 0;
    padding: 15px;
}

.band h2 a {
    color: rgb(3, 20, 25);
    text-decoration: none;
}