
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    animation: fadeIn 1s ease 0s 1 normal;
    -webkit-animation: fadeIn 1s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0; transform: translateY(20px);}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;transform: translateY(0px);}
    100% {opacity: 1}
}



/* ここから下は診療内容 */



.description_Ul {
    margin: auto;
    list-style: none;
    width: 80%;
    padding: 50px;
    text-align: center;
}

.description_li {
    background-color: #fff8ee;
    /* 背景色を追加 */
    border: 1px solid #f98866;
    /* ボーダーを追加 */
    border-radius: 10px;
    /* 角を丸める */
    padding: 50px;
    /* 内側の余白を追加 */
    margin-bottom: 20px;
    /* 下のマージンを追加 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* 影を追加 */
    list-style: none;
    /* リストスタイルを削除 */
    margin-bottom: 50px;
}

li h3 {
    color: #f98866;
    /* 見出しの文字色を変更 */
    font-size: 1.5rem;
    /* フォントサイズを大きく */
    margin-top: 0;
    /* 上のマージンを削除 */
}

li p {
    color: #333;
    /* テキストの文字色を変更 */
    line-height: 1.6;
    /* 行間を広く */
    margin: 10px 0;
    /* 上下のマージンを追加 */
}

.troubleLink {
    width: 70%;
    height: auto;
}

.troubleLink:hover {
    opacity: 0.6;
    filter: brightness(110%);
}

.img_center {
    text-align: center;
    margin-bottom: 200px;
}

/* ラインデザイン */
.dotted-line {
    display: inline-block;
    padding: 5px 10px;
    border-bottom: 2px dotted #00000092;
    /* 点線を設定 */
    width: 100%;
    font-size: 1.0rem;
    margin-bottom: 50px;
}



/* ここから下はアイコン用 */
.dli-edit {
    display: inline-block;
    vertical-align: middle;
    color: #f98866;
    line-height: 1;
    width: 0.9em;
    height: 0.9em;
    border: 0.1em solid currentColor;
    border-radius: 0.1em;
    background: #fff8ee;
    box-sizing: content-box;
    position: relative;
    margin-right: 20px;
    top: -3px;
}

.dli-edit>span {
    font-size: 0.8em;
    position: relative;
    width: 1.05em;
    height: 0.2em;
    background: currentColor;
    border-radius: 0 0.075em 0.075em 0;
    transform: rotate(-45deg);
    transform-origin: left center;
    box-shadow: 0 0 0 0.125em #fff;
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    margin: auto;
}

.dli-edit>span::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 0.1em 0.15em;
    border-right-color: currentColor;
    border-left: 0;
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    margin: auto;
}

.dli-edit>span::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0.15em;
    border-left: 0.05em solid #fff;
    box-sizing: content-box;
}