.footer-001 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px 10px 10px;
    background-color: #f5f0ba;
    padding-bottom: 25px;
    margin-top: 25px;
}

.footer-001__logo {
    width: 130px;
    height: 30px;
    margin-bottom: 50px;
}

.footer-001__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1.5em;
    list-style-type: none;
    margin: 0 0 .5em;
    padding: .5em;
}

.footer-001__link {
    color: #111111;
    font-weight: 200;
    text-decoration: none;
}

.footer-001__copyright {
    margin: 0;
    color: #111111;
    font-weight: 200;
    font-size: .8em;
}