@charset "UTF-8";

body {
    background-color: #fff8ef;
}
.band {
    background-color: #f98866;
    border-radius: 10px;
    height: 70px;
}

h1 {
    padding: 15px 0px 15px 3%;
}
h1 a {
    color: rgb(3, 20, 25);
}
h1 a:hover {
    background-color: #f15b2e;
    border-radius: 50%;
    padding: 11px 0px 10px 0px;
}
h2 {
    text-align: right;
    margin-top: -80px;
    /* padding: -50px; */
    margin-right: 3%;
}
h2 a {
    color: rgb(3, 20, 25);
}
.container {
    display: flex; flex-wrap: wrap; 
    justify-content: space-between; 
    width: 50%; /* お好みの幅に調整してください */
    margin: 10% 25%; /* 中央揃えにするため */
}
.box1,
.box2,
.box3,
.box4 {
    width: calc(50% - 10px); /* 2つのボックスを並べるため */ 
    height: 300px; /* お好みの高さに調整してください */ 
    font-size: 30px;
    /* color: #f98866; */
    background-color: rgb(132, 195, 216); 
    margin-bottom: 10px; /* ボックス間のスペース */ 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border: 1px solid #ccc;
    border-radius: 20px;
}
.box2 {
    background-color: lightpink;
}
.box3 {
    background-color: bisque;
    /* background-color: rgb(125, 220, 220); */
}
.box4 {
    /* background-color: bisque; */
    background-color: rgb(125, 220, 220);
}
a {
    text-decoration: none;
    font-weight: bold;
    color: #6d6370;
}
.box1 a:hover {
    color: rgb(95, 74, 213);
    /* background-color: rgb(93, 188, 219); 
    border-radius: 50%; */
}
.box2 a:hover {
    color: rgb(218, 33, 206);
}
.box3 a:hover {
    color: rgb(132, 206, 76);
}
.box4 a:hover {
    color: rgb(217, 129, 66);
}
/* a:hover {
    color:rgb(218, 33, 203)
} */
