body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h3 {
    width: 80%;
    margin: auto;
    background-color: #fffeae;
    text-align: center;
    background: #f4d07e;
    /*背景色*/
    padding: 0.5em;
    /*文字周りの余白*/
    color: white;
    /*文字を白に*/
    border-radius: 0.5em;
    /*角の丸み*/
    text-indent: 1rem;
}

form {
    max-width: 600px;
    margin: 60px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* フォーム全体を中央寄せ */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto; /* テーブルを中央寄せ */
    text-align: center; /* テーブルの文字を中央寄せ */
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center; /* セルの文字を中央寄せ */
}

th {
    background-color: #f4f4f4;
}

input[type="text"], input[type="date"],input[type="datetime-local"], textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    text-align: center; /* 入力欄の文字を中央寄せ */
}

input[type="radio"] {
    margin-right: 10px;
}

textarea {
    resize: none; /* テキストエリアのサイズ変更を無効にします */
}

.form-submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #f98866;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #e87456;
}
