@charset "UTF-8";
nav{
text-align: center;
width: 100%;
}
nav ul{
margin: 80px auto;
padding: 0 ;
}
nav li{
list-style: none;
display: inline-block;
width: 10%;
min-width: 90px;
}
nav li:not(:last-child){
border-right:2px solid #ddd;
}
nav a{
text-decoration: none;
color: #333;
}
nav a.current{
color: #00B0F0;
border-bottom:2px solid #00B0F0;
}
nav a:hover{
color:#F7CB4D;
border-bottom:2px solid #F7CB4D;
}

bg_test {
    height: 250px;                  /* 高さ指定 */
    padding:  20px;                 /* 余白指定 */
    font-size: 20px;                /* 文字サイズ指定 */
    background-color: powderblue;   /* 背景色指定 */
}
.bg_test2 {
    color:  #fff;                   /* 文字色指定 */
    height: 200px;                  /* 高さ指定 */
    width:  200px;                  /* 幅指定 */
    font-size:  14px;               /* 文字サイズ指定 */
    background-color: blue;         /* 背景色指定 */
    padding:  20px;                 /* 余白指定 */
    float:  right;                  /* 位置指定 */
    position:  relative;            /* 位置指定 */
    top: 110px;                     /* 位置指定 */
}
