@charset "UTF-8";

nav {
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    transition: background-color 1s;
    height: 50px;
    
}

nav.fixed {
    background-color: #f4d07e;
}

nav ul {
    position: relative;
    margin: 40px auto 100px auto;
    padding: 0;
    top: 25%;
}

nav li {
    list-style: none;
    display: inline-block;
    width: 10%;
    min-width: 90px;
}

nav li:not(:last-child) {
    border-right: 2px solid #ddd;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav a.current {
    color: #00B0F0;
    border-bottom: 2px solid #00B0F0;
}

nav a:hover {
    color: #F7CB4D;
    border-bottom: 2px solid #F7CB4D;
}

.bg_test {
    height: 250px;
    padding: 20px;
    font-size: 20px;
    background-color: powderblue;
}

.bg_test2 {
    color: #fff;
    height: 200px;
    width: 200px;
    font-size: 14px;
    background-color: blue;
    padding: 20px;
    float: right;
    position: relative;
    top: 110px;
}
