.image-container {
    text-align: center;
    margin: 80px auto 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;
    
    
}

.image-container p {
    font-size: 1em;
    color: #333;
}

.center-text {
    font-family: 'Arial', sans-serif;
    width: 50%;
    margin: auto;
    background-color: #fffeae;
    text-align: center;
    background: #f4d07e;
    padding: 0.5em;
    color: #101010;
    border-radius: 0.5em;
    text-indent: 1rem;
}

p {
    font-family: 'Arial', sans-serif;
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 0.5em;
    color: #101010;
    border-radius: 0.5em;
    text-indent: 1rem;
}

.side_image{
    width:220px; 
    height:350px;
}