@charset "UTF-8";

.class_a {
  border-bottom: 6px double #000;
  display: inline-block;
}

.contents {
  width: 80%;
  margin: auto;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container img {
  height: 300px;
  width: 40%;
}

.container span {
  word-wrap: break-word;
  white-space: normal;
  width: 50%;
}
