@charset "UTF-8";

.class_a {
	width: 8%;
	  padding: 1rem 2rem;
	  color: #fff;
	  background-image: -webkit-gradient(linear, left top, right top, from(#fa709a), to(#fee140));
	  background-image: -webkit-linear-gradient(left, #fa709a 0%, #fee140 100%);
	  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
.color-css {
  color: black;
}

.contents {
  width: 70%;
  margin: 30px auto;
}

.container {
  display: flex;
  justify-content: space-between;
  margin:35px 0 0 0;
}

.container img {
	width:230px; 
	height:340px;
	margin:0 100 0 0;
}

.container span {
  word-wrap: break-word;
  white-space: normal;
  width: 65%;
}
.titleText {
    width: 80%;
    background-color: #fffeae;
    text-align: center;
    background: #f4d07e;
    /*背景色*/
    padding: 0.5em;
    /*文字周りの余白*/
    color: white;
    /*文字を白に*/
    border-radius: 0.5em;
    /*角の丸み*/
    text-indent: 1rem;
}
.border {
    padding: 0.2rem;
    margin:0 0 500 0;
    background: linear-gradient(transparent 60%, #f9886699 60%);
    font-size: 1.8rem;
    font-weight: bold;
}
.px{
  font-size:20px;
  
}
.alignr{
	text-align:right;
	}

.alignc{
	text-align:center;
  margin: 0px;
	}
  table { width: 80%; border-collapse: collapse; margin: 0 auto; /* テーブルを中央に配置 */ } 
  th, td { border: 1px solid #ddd; padding: 8px; text-align: left; } 
  th { background-color: #f2f2f2;}